# ─── Secrets / Variables de entorno ─────────────
.env

# ─── Maven ───────────────────────────────────────
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ─── IntelliJ IDEA ───────────────────────────────
.idea/
*.iws
*.iml
*.ipr

# ─── VS Code ─────────────────────────────────────
.vscode/

# ─── Spring Boot ─────────────────────────────────
*.log
spring-shell.log

# ─── OS ──────────────────────────────────────────
.DS_Store
Thumbs.db
